@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

*{
    user-select: none;
}

.navbar{
    background: #2F2F2F;
    height: 75px;
    max-width: 100%;
    padding-top: 23px;
}

.navbar>ul{
    display: flex;
    gap: 31px;
    list-style: none;
}

.navbar>ul>li>a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}
.navbar>ul>li>a.active{
    color: #c6c317;
}
.navbar>ul>li>a:hover{
    color: #c6c317;
}
.navbar>ul>li>input{
    display: flex;
    text-align: right;
    padding-inline: 1rem;
    background: #D9D9D9;
    color: #000000;
    border-radius: 10px;
}
.navbar>ul>.searchMagnifier{ 
    padding-top: 23px;
    border-radius: 10px;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 0;
}
.navbar>ul>.searchMagnifier>img{
    padding: 0;
    margin: 0;
    width: 1rem;
    height: 1rem;
}


.introduce{
    height: 70vh;
    max-height: 100%;
    overflow: hidden;
    padding: calc(5rem - 2.5rem);
    /* margin-block: 1.5rem; */
    background: #D9D9D9;
}
.container{
    height: 576px;
    width: 1300px;
    max-width: 100%;
    max-height: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}
.container>.circle{
    width: 300px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    margin: 0 auto;
    margin-inline: calc(1330px - 765px * 1.7);
    margin-top: calc(576px - 288px * 1.5);
    float: left;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    background: #D9D9D9;
    /* background: #D9D9D9 url('../../images/profil_picture.jpg') center/cover no-repeat; */
    pointer-events: none;
}
.container>h1{
    font-size: 48px;
    display: inline;
    margin-inline: 4rem;
    padding: 0;
}
.container>.container-section-inner{
    width: 700px;
    height: 300px;
    margin: 0 auto;
    margin-inline: calc(1330px - 576px * 1.6);
    margin-top: calc(576px - 335px * 1.5);
    background: #D9D9D9;
}
.container>button{
    width: 200px;
    height: 50px;
    margin: 0 auto;
    margin-inline: calc(1330px - 576px * 1.6);
    margin-top: calc(576px - 375px * 1.5);
    background: #2FCED0;
    box-shadow: 1px 1px 5px;
    font-family: "Inter", sans-serif;
    border: 0;
}

.referenceWorks{
    height: 90vh;
    max-height: 100%;
    padding: calc(5rem - 2.5rem);
    background: #F4F4F4;
}
.referenceWorks>h2{
    font-size: 3rem;
}

/* Footer */
footer{
    margin-bottom: 0;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 0;
}
footer>ul{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
footer>ul>li{
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
}
footer>ul>li>.innerUl{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    margin-block: 1rem
}
footer>ul>li>.innerUl>li>a>img{
    height: 2rem;
}
/* footer>ul>li>.innerUl>li>a>img:hover{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
} */
footer>ul>.copyright{
    color: #696969;
    font-size: 1rem;
    font-family: "Sofia Sans", sans-serif;
    margin-block: 2.5rem;
    margin-bottom: 0;
}
/* Footer */